body,div {
  margin: 0;
  padding: 0;
  font-family: "Microsoft yahei";
}
.mr18{
  margin-right: 18px;
}
.mr40{
  margin-right: 40px;
}
.mr10{
  margin-right: 10px;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 700px;
}
.row{
	display: flex;
	flex-direction: row;	
}
.nav{
  height: 50px;
  background-color: #293a42;  
  line-height: 50px;
  padding-left: 15px;
  color: #fff;
  font-weight: bold;
  border-bottom:1px solid #465a63;
}
.red_font{
  color: #ff0000;
}
.content_wrap{
  flex: 1;
  display: flex;
  flex-direction: row;
}
.sider_bar{
  display: flex;
  flex-direction: column;
  width: 140px;
  background-color: #344853;
  cursor: pointer;
}
.bar_item{
  height: 40px;
  line-height: 40px;
  border-bottom:1px solid #465a63;
  color: #fff;
  padding-left: 15px;
  border-left: 5px solid #344853;
}
.bar_active {
  background-color: #293a42;
  border-left: 5px solid #ff0000;
}
.main_content{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.btn_area{
	display: flex;
	flex-direction: row;
	height: 50px;
	line-height: 50px;
	justify-content: flex-start;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}
.btn_item{
  cursor: pointer;
}
.btn_item:hover{
  color: red;
}
.edit_area{
	height: 650px;
	width: 900px;
	border: 1px solid #ddd;
	margin-top: 10px;
	box-shadow: 0px 5px 5px #eee;
}
.magic_area{
	flex: 1;
	height: 650px;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin-left: 5px;
	color: #fff;
	background-color: #344853;
}
.setting_tab{
	height: 45px;
	line-height: 45px;
	display: flex;
	flex-direction: row;
	border-bottom: 3px solid #293a42;	
	background-color: #293a42;
	color: #fff;
}
.tab_item{
	padding-left: 10px;
	padding-right: 10px;
}
.tab_item:hover{
  color: #ff0000;
}
.tab_active{
  border-bottom: 3px solid #ff0000;
  margin-bottom: -3px;
}
.tab_body{
  display: flex;
  flex-direction: row;
}
.body_row{
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
}
.item_content{
  display: flex;
  flex-direction: column;
  flex-flow:row wrap;
  justify-content:space-around;
  width: 300px;
}
.left_txt{
  width:80px;
}
.right_txt{
  width: 100px;
}
.addImg{
    cursor: pointer;
    height: 41px;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    width: 75px;
    z-index: 2;
}
.importImg{
  background: url('static/bg1.png');
  cursor:pointer;
  margin-top: 5px;
}
.dn{
  display:none;
}
.basic_row{
  height:60px;
  line-height:60px;
  display:flex;
  flex:1;
  flex-direction:row;
  margin-top:20px;
  background-color:'#eee'
  cursor:pointer
}
.img_wrapper{
  height:60px;
  width:100px;
  border-radius:10px;
  border:none;
}
